@media (max-width: 620px) {
    .hero {
        padding: 0 15px;
        gap: 4em;
    }

    .arrows {
        width: 2em;
        height: 2em;
        padding: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-cards {
        height: 480px;
        padding: -2em;
    }

    .card .crew-image {
        max-height: 200ch;
    }
}